<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">
            Copyright © 2017 qinshixixing.
        </div>
        <!--<ul class="mdl-mini-footer__link-list">
            <li><a href="#"></a></li>
        </ul>-->
    </div>
    <div class="mdl-mini-footer__right-section">
        {% for account in site.socialAccount %}
        <i class="fa fa-{{ account.type }} fa-2x social-account-icon" aria-hidden="true" onclick="window.open('{{ account.url }}')"></i>
        {% endfor %}
    </div>
</footer>