<div class="mdl-layout__drawer">
    <span class="mdl-layout-title">{{ site.title }}</span>
    <div class="avatar"><img src="https://s.gravatar.com/avatar/da12b8e90c4a3abdf8ea1247f1e69a9f?s=80"></div>
    <ul class="mdl-list">
        {% for nav in site.navigation %}
        <li class="mdl-list__item" onclick="location.assign('{{ nav.link }}')">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">{{ nav.icon }}</i>
                {{ nav.text }}
            </span>
        </li>
        {% endfor %}
        <li class="mdl-list__item" id="article-list-button">
            <span class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">list</i>
                <span>文章列表</span>
            </span>
            <span class="mdl-list__item-secondary-content">
                <i class="material-icons" id="article-list-toggle">chevron_right</i>
            </span>
        </li>
        <ul class="mdl-list qsxx-hidden" id="article-list-detail">
            {% for post in site.posts %}
            <li class="mdl-list__item" onclick="location.assign('{{ post.url }}')">
                {{ post.title }}
            </li>
            {% endfor %}
        </ul>
    </ul>
</div>
