---
layout: total
---

<div class="page-content">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--8-col mdl-cell--2-offset-desktop">
            <div>
                <h2 class="article-detail-title">{{ page.title }}</h2>
                <p class="article-detail-time">
                    <span>{{ page.day }}&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span>{{ page.time }}</span>
                </p>
            </div>
            {{ content }}
            <div>
                {% if page.next != nil %}
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" onclick="location.assign('{{ page.next.url }}')">
                    <i class="material-icons">arrow_back</i>
                    前一篇
                </button>
                {% endif %}
                {% if page.previous != nil %}
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" style="float: right" onclick="location.assign('{{ page.previous.url }}')">
                    后一篇
                    <i class="material-icons">arrow_forward</i>
                </button>
                {% endif %}
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>