<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <meta name="description" content="qinshixixing.github.io : This is my blog.">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/blog/assets/css/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/79c56994d5.css">
    <link rel="stylesheet" href="/blog/assets/css/syntax.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/qinshixixing.css">
    <script defer src="/blog/assets/js/material.min.js"></script>
    <script defer src="/blog/assets/js/qinshixixing.js"></script>
    <title>{{ page.title }}</title>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% include header.html %}
    {% include navigation.html %}
    <main class="mdl-layout__content">
        {{ content }}
        {% include footer.html %}
    </main>
</div>
</body>
</html>
